 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 861px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px auto 0 0;
}

.u-section-1 .u-list-1 {
  margin-top: 71px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 25px));
  min-height: 592px;
  grid-gap: 50px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 18px 30px 19px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 0;
}

.u-section-1 .u-btn-2 {
  font-size: 1.25rem;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 18px 30px 19px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 0;
}

.u-section-1 .u-btn-3 {
  font-size: 1.25rem;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 18px 30px 19px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 0;
}

.u-section-1 .u-btn-4 {
  font-size: 1.25rem;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 18px 30px 19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 493px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 915px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 39px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 25px) calc(50% - 25px);
    min-height: 678px;
    grid-gap: 50px 50px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.0625rem;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.0625rem;
  }

  .u-section-1 .u-btn-3 {
    font-size: 1.0625rem;
  }

  .u-section-1 .u-btn-4 {
    font-size: 1.0625rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 1.25rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 773px;
}

.u-section-2 .u-slider-1 {
  width: 1189px;
  min-height: 843px;
  height: auto;
  margin: 0 auto 0 -49px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-image-1 {
  background-image: url("images/1a.svg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/1b.svg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/1c.svg");
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  background-image: url("images/1d.svg");
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-slider-1 {
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-2 .u-slider-1 {
    width: 606px;
    min-height: 440px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 410px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-slider-1 {
    min-height: 239px;
    margin-top: 110px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: linear-gradient(#054ec4, #231cee);
}

.u-section-3 .u-sheet-1 {
  min-height: 386px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-size: 1.875rem;
  letter-spacing: 1px;
  margin: 60px auto 0;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-size: 1.875rem;
  letter-spacing: 1px;
  margin: 12px auto 0;
  padding: 0;
}

.u-section-3 .u-text-1 {
  width: 580px;
  margin: 20px auto 0;
}

.u-section-3 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 280px;
  min-width: 120px;
  margin: 40px auto 60px;
}

.u-section-3 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-3 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-icon-3 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-3 .u-icon-4 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-3 .u-icon-5 {
  height: 100%;
  color: rgb(203, 32, 39) !important;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    align-self: center;
  }

  .u-section-3 .u-btn-2 {
    align-self: center;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-btn-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }
}